# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Test-UIElemetns.iml
# Datasource local storage ignored files
/../../../../../../../../:\workspace\20_Unity\0_Projects\Test-UIElemetns\.idea\.idea.Test-UIElemetns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
